/***************************************************
************* cmegroup.com style.css****************
***************************************************/
a, a:focus, a:link {color:#0575b9;text-decoration:none;}
a:hover {color:#1c3d73;}
a:active {color:#1c3d73;}
.GroupProductSubLink {
	display: block;
	font: 11px arial;
	line-height: 100%;
	padding: 0px 0px 0px 5px;
	font: 11px arial;
	clear:both;
}
.ho_productName{
	width:180px;
	display:inline;
	float:left;
	padding:0px 0px 0px 0px;
	font: 11px arial;
}
/* Begin Header Styles */
#TopHeader {
	display: block;
	float: left;
	margin-top: 0x;
	width: 978px;
	background: transparent;
}

#TopNavHeaderRight {
	display: block;
	float: left;
	white-space: nowrap;
}

#TopNavHeaderRight ul {
	float: left;
	display: block;
	clear: both;
	list-style-type: none;
}

#TopNavHeaderRight li {
	display: table-cell;
	float: left;
	padding: 0px 0px 0px 6px;
	height: 30px;
	line-height: 30px;
	border: 0px;
}

#TopNavHeaderBootm {
	clear: both;
	/*background-image: url(../js/topnav-bg.jpg);*/
	background-repeat: repeat-x;
	height: 30px;
	border: 1px solid #CCC;
}

#TopNavHeaderBootm ul {
	float: left;
	width: 800px;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

#TopNavHeaderBootm li {
	float: left;
	padding: 0px 0px 0px 8px;
	background-image: none;
	margin: 0px;
	border: 0px;
	height: 30px;
	line-height: 30px;
}
.BodyText
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.sep {
	padding: 0px 0px 0px 0px;
}

#botNavFirst {
	margin-left: 0;
	padding: 0;
}

.DWTable {
	border-collapse: collapse;
  border-top: 2px solid #008F4D;
  border-left: 2px solid #008F4D;
  border-top: 2px solid #008F4D;
  border-left: 2px solid #008F4D;
	border-right: 0px solid #008F4D;
	border-bottom: 0px solid #008F4D;
	z-index: 200;
  overflow: hidden;
}

.daughterWindow {
	display: none;
	position: absolute;
	z-index: 200;
  overflow: hidden;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  background: transparent url(../js/black-20.png) repeat scroll;
}

.daughterWindow_topcol {
	background: #008F4D;
	white-space: nowrap;
	padding: 5px 15px 5px 15px;
  border: 0;
  height: 100%;
	font: bold 11px arial;
	color: #FFF;
}

.daughterWindow_topcol a {
	color: #FFF;
	white-space: nowrap;
	padding-right: 20px;
	background: transparent url('../images/ArrowWhite.gif') no-repeat top right;
	background-position: 98% 50%;
}

.daughterWindow_topcol a:link {
	color: #FFF;
	white-space: nowrap;
	padding-right: 20px;
	background: transparent url('../images/ArrowWhite.gif') no-repeat top right;
	background-position: 98% 50%;
}

.daughterWindow_topcol a:hover {
	color: #FFF;
	white-space: nowrap;
	padding-right: 20px;
	background-position: 98% 50%;
}

.daughterWindow_col {
	background: #FFF;
	padding-bottom: 10px;
	height: 100%;
	border-top: 1px solid #CCC;
	border-bottom: 0px solid #CCC;
	border-left: 0px solid #FFF;
	border-right: 0px solid #FFF;
	vertical-align: top;
}

.daughterWindow_colM {
	background: #FFF;
	padding-bottom: 15px;
	height: 100%;
	border-top: 1px solid #CCC;
	border-bottom: 0px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	vertical-align: top;
}

.daughterWindow_colM2 {
	background: #FFF;
	padding-bottom: 15px;
	height: 100%;
	border-top: 1px solid #CCC;
	border-bottom: 0px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 0px solid #CCC;
	vertical-align: top;
}


.daughterWindow_bottomcol {
	background: #FFF;
	color: #000;
	padding: 3px 3px 3px 0px;
	font: 10px arial;
	height: 100%;
	border-top: 1px solid #CCC;
	border-bottom: 0px solid #CCC;
	border-left: 0px solid #FFF;
	border-right: 0px solid #FFF;
}

.MainGroup {
	padding: 0px;
	width: 230px;
	display:block;
	clear:both;
	/*float:left;*/
}

