
.dispatchtable
{
	VERTICAL-ALIGN: middle;
	}


.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('error.png');
}
.validation {
color: #D63301;
	width: 24px;
}
.validation1 {
color: #D63301;
	width: 60px;
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; BACKGROUND: #FFFFFF; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #000; PADDING-TOP: 0px; FONT-FAMILY: tahoma,arial,sans-serif
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
A {
	COLOR: #060606; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}
INPUT {
	VERTICAL-ALIGN: middle
}
.floatleft {
	FLOAT: left! important
}
.floatright {
	FLOAT: right! important
}
.pageTR
{
	BACKGROUND-image:url(Img/dot.gif)
	}
.boxmodule{
	
	border:solid 1px #929292;
	width:200px;
	height:430px;
	margin-left:100px;
	text-align: justify;
}
.boxmodule1{
	
	border:solid 1px #929292;
	width:200px;
	height:430px;
	margin-left:100px;
	text-align: justify;
	padding-left : 10px;
	padding-right : 10px;
}
.boxmodule2{
	
	border:solid 1px #929292;
	width:600px;
	height:430px;
	text-align: left;
	padding-right : 10px;
}
.boxmodule3{
	border:solid 1px #929292;
	width:600px;
	text-align: justify;
	padding-left : 10px;
	padding-right : 10px;
}
.boxmodule4{
	border:solid 1px #929292;
	width:740px;
	text-align: justify;
	padding-left : 10px;
	padding-right : 10px;
}
.buttonstyle1
{
	FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
	color:White;
	background-color:#28222a;
	font-size:11;
	font-weight:bold;
	border-style:none;	
	text-align:center;
	text-justify:auto;
	width:auto;
	white-space:nowrap
}
.menuTable
{
	width:800;
	margin-left:auto;
	margin-right:auto;	
	border-bottom:1 solid #006EA9;
	border-left:1 solid #006EA9;
	border-right:1 solid #006EA9;
	background-color:White;
}

.menuTable1
{
	width: 970px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	height: 10px;
}
.menuTD
{
	font-family:Verdana;
	font-size:10;
	font-weight:bold;
	
}
.menuTD1
{
	/*border:1 aliceblue solid;*/
	background-color:#4D3C51;
	border-right: 1px solid #654f6a;
	font-family:Verdana;
	font-size:11px;
	color:#9DB1B0;
	font-weight:bold;
	width: auto;
	padding: 5px;
	
}

.menuTD1
{
	cursor: hand;	
}

a.menuitem,
a.menuitem:active,
a.menuitem:visited
{
	font-size:11px;
	font-family:Verdana;
	padding: 5px;
	text-decoration: none;
	font-weight:bold;
	color: #fff;
	padding-left: 7px;
	padding-right: 7px;
}

a.menuitem:hover
{
	background-color: #fff;
	color: #333;
	text-decoration: underline;
}

a.menuitem2,
a.menuitem2:active,
a.menuitem2:visited
{
	display: block;
	width: 150px;
	font-size:11px;
	font-family:Verdana;
	padding: 5px;
	text-decoration: none;
	color: #fff;
	padding-left: 7px;
	padding-right: 7px;
	border-bottom: solid 1px #453C51;
	border-top: solid 1px #453C51;
}
.gridBodyStyle
{
	BACKGROUND-COLOR: transparent;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    COLOR: #333333;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
    line-height : 1.6em;
	border-color: Gray;
    border-style: solid;
}
a.menuitem2:hover
{
	background-color: #fff;
	color: #333;
	text-decoration: underline;
	border: solid 1px #453C51;
}

.menuTD2
{
	background-color:#4D3C51;
	border-left: 1px solid #654f6a;
	font-family:Verdana;
	font-size:11px;
	color:#9DB1B0;
	font-weight:bold;
	width: auto;
	padding: 5px;
}

.menuAnc
{
	color:#9DB1B0;
}
.mainDIV
{
	width:740px;
	height: 430px;
	background-color: #fff;
}
.mainDIVlogin
{
	width:720px;
	height: auto;
	background-color: #fff;
}
.bodyDIV
{
	background-color:White;
	width:600;
}

.bodyDIV1
{
	background-color:White;
	border:0px solid #023B52;
	border-right: 0px solid #023B52;
	border-bottom: 0px solid #023B52;
}
.TableHeaderText
{
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:13;
	font-weight:bold;
	letter-spacing:1;
	text-align:left;
}

.TableHeaderText2
{
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	color:black;
	font-size:13;
	font-weight:bold;
	letter-spacing:1;
	text-align:left;
	TEXT-DECORATION: underline;
}

.TableHeaderText3
{
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:13;
	font-weight:bold;
	letter-spacing:1;
	text-align:left;
	PADDING-LEFT: 30px;
	background-color:#ECEAE6 /*#ECEAE6*/;
}

.TableHeaderText11
{
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:13;
	font-weight:normal;
	letter-spacing:1;
	text-align:Center;
	background-color:#F0EFEC /*#ECEAE6*/;
}

.TableHeaderText4
{
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:13;
	/*border:1px solid black;*/
	font-weight:Normal;
	letter-spacing:1;
	text-align:left;
}

.TableHeaderText4_white
{
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	/*border:1px solid black;*/
	font-weight:Normal;
	letter-spacing:1;
	text-align:left;
	color: #fff;
}

TableHeaderText5
{
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:13;
	/*border:1px solid black;*/
	font-weight:Normal;
	letter-spacing:1;
}

.TableHeaderText6
{
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:13;
	font-weight:bold;
	letter-spacing:1;
	text-align:Center;
	/*background-color:#F0EFEC*/ /*#ECEAE6;*/
}
.TableHeaderText7
{
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:17;
	font-weight:bold;
	letter-spacing:1;
	text-align:Center;	
	color:Black;	
}
.TableHeaderText8
{
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:18;
	font-weight:bold;
	letter-spacing:1;
	text-align:Center;	
}
.TableHeaderText9
{
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:18;
	font-weight:bold;
	letter-spacing:1;
	text-align:Center;
	font-style:italic;
}
.TableHeaderText10
{
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:14;
	font-weight:bold;
	letter-spacing:1;
	text-align:left;
	color: #537BAA;
}
.TableHeaderText12
{
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size:13;	
	font-weight:Normal;
	letter-spacing:1;
	text-align:center;
}
.lblstyle
{
	font-weight: bold;
	font-size: 9pt;		
	color: #537BAA;
	margin-right: 2px;
	font-style: normal;
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	text-decoration: none;
	
}

.lblstyle2
{
	font-weight: normal;
	font-size: 9pt;		
	color: #000000;
	margin-right: 2px;
	font-style: normal;
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	text-decoration: none;
	
}
.lblstyle3
{
	font-weight: normal;
	font-size: 9pt;		
	color: #000000;
	margin-right: 2px;
	font-style: normal;
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	text-align:right;
	text-decoration: none;
}
.lblstyle4
{
	font-size: 12px;		
	color: #333333;
	margin-right: 2px;
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: normal;
}
.lblstyle5
{
	font-size: 8pt;		
	color:Red;
	margin-right: 2px;
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: normal;
}
.textboxstyle
{
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    COLOR: #333333;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
    margin-right : 2;
    margin-left : 2;
    width:200;
    border-left:solid 1 lightgrey;
	border-right:solid 1 lightgrey;
	border-top:solid 1 lightgrey;
	border-bottom:solid 1 lightgrey;
}
.textboxstyleSearch
{
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    COLOR: #333333;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
    margin-right : 2;
    margin-left : 2;
    width:140;
    border-left:solid 1 lightgrey;
	border-right:solid 1 lightgrey;
	border-top:solid 1 lightgrey;
	border-bottom:solid 1 lightgrey;
}
.textboxstyle1
{
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    COLOR: #333333;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
    margin-right : 2;
    margin-left : 2;
    width:80;
    border-left:solid 1 lightgrey;
	border-right:solid 1 lightgrey;
	border-top:solid 1 lightgrey;
	border-bottom:solid 1 lightgrey;	
}
.textboxstyle2
{
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    COLOR: #333333;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
    margin-right : 2;
    margin-left : 2;
    width:47;
    border-left:solid 1 lightgrey;
	border-right:solid 1 lightgrey;
	border-top:solid 1 lightgrey;
	border-bottom:solid 1 lightgrey;	
}
.textboxstyle3
{
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    COLOR: #333333;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
    margin-right : 2;
    margin-left : 2;
    width:80;
    border-left:solid 1 lightgrey;
	border-right:solid 1 lightgrey;
	border-top:solid 1 lightgrey;
	border-bottom:solid 1 lightgrey;	
}
.textboxstyle4
{
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    COLOR: #333333;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
    margin-right : 2;
    margin-left : 2;
    width:190;
    border-left:solid 1 lightgrey;
	border-right:solid 1 lightgrey;
	border-top:solid 1 lightgrey;
	border-bottom:solid 1 lightgrey;	
}

.textboxstyle5
{
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    COLOR: #333333;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
    margin-right : 2;
    margin-left : 2;
    width:200;
    border-left:solid 1 lightgrey;
	border-right:solid 1 lightgrey;
	border-top:solid 1 lightgrey;
	border-bottom:solid 1 lightgrey;
}
.textboxstyle6
{
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    COLOR: #333333;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
    margin-right : 2;
    margin-left : 2;
    width:226;
    border-left:solid 1 lightgrey;
	border-right:solid 1 lightgrey;
	border-top:solid 1 lightgrey;
	border-bottom:solid 1 lightgrey;
}
.textboxstyle7
{
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    COLOR: #333333;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
    margin-right : 2px;
    margin-left : 2px;
    width:200px;
    border-left:solid 1px lightgrey;
	border-right:solid 1px lightgrey;
	border-top:solid 1px lightgrey;
	border-bottom:solid 1px lightgrey;	
}
.textboxstyle8
{
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    COLOR: #333333;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
    margin-right : 2;
    margin-left : 2;
    width:100px;
    border-left:solid 1 lightgrey;
	border-right:solid 1 lightgrey;
	border-top:solid 1 lightgrey;
	border-bottom:solid 1 lightgrey;
}
.buttonStyle
{
	padding: 1 5;
	FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
		color:White;
		background-color:#4D3C51;
		font-size:12;
		font-weight:bold;
		border-style:none;
		TEXT-DECORATION: none;
		text-align:left;
		margin-left: 0px;
	height: 20px;
}
.bodytextstyle
{
    BACKGROUND-COLOR: aliceblue;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    COLOR: #333333;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
    line-height : 1.6em;
}
.bodytextstyle2
{
	BACKGROUND-COLOR: aliceblue;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    COLOR: #333333;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
	border:0px dotted lightgrey;
	padding:0px;
	line-height:18px;
}

.bodytextstyle3
{
    BACKGROUND-COLOR: transparent;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    COLOR: red;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
    line-height : 1.6em;
}
.bodytextstyle4
{
    BACKGROUND-COLOR: transparent;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    COLOR: #333333;
    FONT-SIZE: 8pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
    line-height : 1.6em;
    font-style:italic;
}
.boldbodytextstyle
{
    BACKGROUND-COLOR: transparent;
    FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
    COLOR: #333333;
    FONT-SIZE: 9pt;
    FONT-STYLE: normal;
    FONT-WEIGHT: bold;
    TEXT-DECORATION: none;
    line-height : 1.6em;
}
.headingtextstyle
{
	border-right: black thin solid;
	border-top: black thin solid;
	margin-top: 0;
	font-weight: bold;
	font-size: 11px;
	margin-bottom: 0;
	border-left: black thin solid;
	color: Black;
	border-bottom: black thin solid;
	font-style: normal;
	FONT-FAMILY: Verdana, Arial, Geneva, Helvetica, sans-serif;
	background-color: "#006699";
	text-decoration: none;
}
.clear {
	CLEAR: both! important
}
.bold {
	FONT-WEIGHT: bold! important
}
.normal {
	FONT-WEIGHT: normal! important
}
.block {
	DISPLAY: block! important
}
INPUT.text {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #333; FONT-FAMILY: arial,sans-serif
}
SELECT {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #333; FONT-FAMILY: arial,sans-serif
}
TEXTAREA {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #333; FONT-FAMILY: arial,sans-serif
}
INPUT.text {
	PADDING-RIGHT: 0px; PADDING-LEFT: 4px; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; PADDING-TOP: 1px; HEIGHT: 14px
}
#main {
	MARGIN: 0px auto; WIDTH: 992px
}
#header {
	BACKGROUND: url(../img/bg-header.gif) no-repeat left bottom; WIDTH: 992px; POSITION: relative; HEIGHT: 15px;
	top: 0px;
	left: 0px;
}
#Div1{
	 PADDING-RIGHT: 10px; PADDING-LEFT: 10px; WIDTH: 980px; POSITION: relative; HEIGHT: 112px;
	
}
#Div2{
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; WIDTH: 980px; POSITION: relative; HEIGHT: 15px;
	top: 0px;
	left: 0px;
}
A.logo {
	LEFT: 20px; POSITION: absolute; TOP: 5px
}
#top-navigation {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; LEFT: 20px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: absolute; TOP: 86px
}
#top-navigation LI {
	BACKGROUND: url(../img/tab.gif) repeat-x 50% top; FLOAT: left; MARGIN: 0px 0px 0px 0px; HEIGHT: 34px
}
#top-navigation LI A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #606060; LINE-HEIGHT: 19px; PADDING-TOP: 4px; HEIGHT: 20px
}
#top-navigation LI SPAN {
	BACKGROUND: url(../img/tab-left.gif) no-repeat left top; FLOAT: left
}
#top-navigation LI SPAN SPAN {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(../img/tab-right.gif) no-repeat right top; PADDING-BOTTOM: 0px; PADDING-TOP: 7px
}
#top-navigation LI.active {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../img/tab-active.gif) repeat-x 50% top; PADDING-BOTTOM: 0px; MARGIN-RIGHT: 2px; PADDING-TOP: 0px; HEIGHT: 34px
}
#top-navigation LI.active SPAN {
	BACKGROUND: url(../img/tab-active-left.gif) no-repeat left top; HEIGHT: 34px
}
#top-navigation LI.active SPAN SPAN {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; BACKGROUND: url(../img/tab-active-right.gif) no-repeat right top; PADDING-BOTTOM: 0px; COLOR: #606060; LINE-HEIGHT: 19px; PADDING-TOP: 11px; HEIGHT: 23px
}
#middle {
	PADDING-RIGHT: 13px; PADDING-LEFT: 12px; BACKGROUND: url(../img/bg-middle.gif) repeat-y left 50%; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 967px; height :450px; PADDING-TOP: 0px
}
#left-column {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 160px; 
PADDING-TOP: 1px;
	height: 400px;
}
#right-column {
	PADDING-LEFT: 15px; PADDING-RIGHT: 9px; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 133px; PADDING-TOP: 0px
}
#center-column {
	PADDING-RIGHT: 25px; PADDING-LEFT: 13px; MIN-HEIGHT: 400px; BACKGROUND: url(../img/bg-center-column1.jpg) no-repeat left top; FLOAT: Right; PADDING-BOTTOM: 0px; WIDTH: 740px; PADDING-TOP: 12px
}
 HTML #center-column {
	HEIGHT: 420px
}
#footer {
	BACKGROUND: url(../img/bg-footer.gif) no-repeat;  PADDING-LEFT: 10px; WIDTH: 102%
}
#left-column A {
	COLOR: #3e3e3e
}
#left-column H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 9px; FONT-SIZE: 11px; BACKGROUND: url(../img/bg-left-header.gif) no-repeat left top; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #fff; LINE-HEIGHT: 23px; PADDING-TOP: 0px; HEIGHT: 25px;
	width: 157px;
}
UL.nav {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; BACKGROUND: #ecefe7; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 11px; PADDING-TOP: 0px; BORDER-BOTTOM: #ff9600 2px solid; LIST-STYLE-TYPE: none
}
UL.nav LI {
	PADDING-RIGHT: 1px; PADDING-LEFT: 1px; BACKGROUND: url(../img/bg-dotted.gif) repeat-x 50% bottom; PADDING-BOTTOM: 6px; PADDING-TOP: 4px;
	width: 155px;
	margin-right: 0px;
}
UL.nav A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 12px; BACKGROUND: url(../img/arrow.gif) no-repeat 0px 4px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
UL.nav A:hover {
	FONT-WEIGHT: bold
}
UL.nav LI.last {
	BACKGROUND: none transparent scroll repeat 0% 0%;
	height: 12px;
}
#left-column .link {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 9px; FONT-WEIGHT: bold; BACKGROUND: url(../img/bg-left-link.gif); PADDING-BOTTOM: 0px; MARGIN: 0px 0px 4px; WIDTH: 142px; COLOR: #60635a; LINE-HEIGHT: 25px; PADDING-TOP: 0px; HEIGHT: 25px
}
.top-bar {
	PADDING-RIGHT: 0px; PADDING-LEFT: 9px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 4px; BORDER-LEFT: #f70 2px solid; WIDTH: 603px; PADDING-TOP: 0px
}
.top-bar H1 {
	MARGIN: 0px 0px 4px; FONT: 20px/21px verdana,sans-serif; COLOR: #43729f
}
.top-bar A.button {
	DISPLAY: block; FONT-WEIGHT: bold; BACKGROUND: url(../img/bg-orange-button.gif) no-repeat; FLOAT: right; TEXT-TRANSFORM: uppercase; WIDTH: 75px; COLOR: #fff; LINE-HEIGHT: 27px; HEIGHT: 35px; TEXT-ALIGN: center
}
.select-bar {
	CLEAR: both; PADDING-RIGHT: 0px; BORDER-TOP: #f70 2px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; MARGIN: 0px 0px 17px; PADDING-TOP: 5px; BORDER-BOTTOM: #f70 2px solid
}
.select-bar SELECT {
	MARGIN: 0px 2px; WIDTH: 145px
}
DIV.table {
	FLOAT: left; MARGIN: 0px 0px 25px; WIDTH: 740px; POSITION: relative
}
TABLE.listing {
	BORDER-RIGHT: #9097a9 1px solid; PADDING-RIGHT: 0px; BORDER-TOP: #9097a9 1px solid; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; BORDER-LEFT: #9097a9 1px solid; WIDTH: 613px; PADDING-TOP: 0px; BORDER-BOTTOM: #9097a9 1px solid
}
TABLE.listing TH {
	BORDER-TOP-WIDTH: 0px! important
}
TABLE.listing TH.full {
	BORDER-LEFT-WIDTH: 0px; TEXT-TRANSFORM: uppercase; TEXT-ALIGN: left; BORDER-RIGHT-WIDTH: 0px! important
}
DIV.table IMG.left {
	LEFT: 0px; POSITION: absolute; TOP: 0px
}
DIV.table IMG.right {
	RIGHT: 1px; POSITION: absolute; TOP: 0px
}
TABLE.listing TD {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid; TEXT-ALIGN: center
}
TABLE.listing TH {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; BORDER-LEFT: #fff 1px solid; BORDER-BOTTOM: #fff 1px solid; TEXT-ALIGN: center
}
TABLE.listing TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #9097a9; PADDING-BOTTOM: 5px; COLOR: #fff; PADDING-TOP: 5px
}
TABLE.listing TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #d8d8d8; PADDING-BOTTOM: 3px; COLOR: #000; PADDING-TOP: 3px
}
TABLE.listing .bg TD {
	BACKGROUND: #ececec
}
TABLE.listing .white TD {
	BACKGROUND: #fff
}
TABLE.listing .first {
	BORDER-LEFT: #9097a9 0px solid; TEXT-ALIGN: left
}
TABLE.listing .last {
	BORDER-RIGHT: #9097a9 0px solid
}
TABLE.listing TH.first {
	BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../img/bg-th-left.gif) #9097a9 no-repeat left top
}
TABLE.listing TH.last {
	BACKGROUND: url(../img/bg-th-right.gif) #9097a9 no-repeat right top; BORDER-RIGHT-WIDTH: 0px
}
TABLE.listing .style1 {
	FONT-WEIGHT: bold; COLOR: #ff7a00
}
TABLE.listing .style2 {
	PADDING-LEFT: 16px; FONT-WEIGHT: bold
}
TABLE.listing .style3 {
	PADDING-LEFT: 25px
}
TABLE.listing .style4 {
	PADDING-LEFT: 35px
}
TABLE.form .last {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; TEXT-ALIGN: left
}
TABLE.form TH {
	PADDING-LEFT: 10px
}
TABLE.form TD {
	PADDING-LEFT: 10px
}
TABLE.form INPUT.text {
	WIDTH: 262px
}
DIV.table .select {
	BACKGROUND: url(../img/bg-select.gif) #9097a9; FLOAT: right; MARGIN: 2px 1px 0px 0px; WIDTH: 176px; COLOR: #fff; HEIGHT: 25px
}
DIV.table .select STRONG {
	PADDING-RIGHT: 0px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 5px
}
DIV.table .select SELECT {
	FLOAT: right; MARGIN: 2px 3px 0px 0px; WIDTH: 78px; TEXT-ALIGN: right
}
#right-column .h {
	BORDER-RIGHT: #b8b8b8 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #b8b8b8 1px solid; PADDING-LEFT: 10px; BACKGROUND: #7e878a; FLOAT: left; PADDING-BOTTOM: 3px; TEXT-TRANSFORM: uppercase; BORDER-LEFT: #b8b8b8 1px solid; COLOR: #fff; PADDING-TOP: 3px; BORDER-BOTTOM: #b8b8b8 0px solid
}
#right-column .box {
	BORDER-RIGHT: #b8b8b8 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #b8b8b8 1px solid; PADDING-LEFT: 5px; BACKGROUND: #ebebeb; FLOAT: left; PADDING-BOTTOM: 5px; MARGIN: 0px 0px 15px; BORDER-LEFT: #b8b8b8 1px solid; WIDTH: 121px; PADDING-TOP: 5px; BORDER-BOTTOM: #b8b8b8 1px solid
}
.buttons {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 15px; PADDING-TOP: 30px; TEXT-ALIGN: center
}
.buttons INPUT {
	MARGIN: 0px 0px 6px
}
.download {
	FONT-SIZE: 18px; MARGIN: 10px 0px 0px 500px; POSITION: absolute; BACKGROUND-COLOR: #ffffff
}
